@media (max-width: 767px) {
  #homeHeader {
    height: 100VH;
  }

  #contentHeaderBlock {
    margin-top: 70px;
    width: 65%;
  }

  .worksContentTitle {
    margin-top: 140px;
  }

  .worksContentTitle p {
    font-size: 24px;
  }

  .worksContentTitle hr {
    width: 40%;
    margin: 0 auto;
  }

  .worksContentDesc {
    font-size: 0.9em;
  }

  .homeFootContentTitle {
    margin-top: 15px;
  }

  .job-inro-text,
  .redevelopment-block {
    width: 340px;
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  #homeHeader {
    height: 100VH;
  }

  #contentHeaderBlock {
    margin-top: 80px;
    width: 50%;
  }

  .worksContentTitle {
    margin-top: 60px;
  }

  .worksContentTitle p {
    font-size: 20px;
  }

  .worksContentTitle hr {
    width: 40%;
    margin: 0 auto;
  }

  .worksContentDesc {
    font-size: 0.8em;
  }

  .homeFootContentTitle {
    margin-top: 20px;
  }

  .job-inro-text,
  .redevelopment-block {
    width: 480px;
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  #homeHeader {
    height: 70VH;
  }

  #contentHeaderBlock {
    margin-top: 80px;
    width: 45%;
  }

  .worksContentTitle {
    margin-top: 60px;
  }

  .worksContentTitle p {
    font-size: 20px;
  }

  .worksContentTitle hr {
    width: 40%;
    margin: 0 auto;
  }

  .worksContentDesc {
    font-size: 0.9em;
  }

  .homeFootContentTitle {
    margin-top: 30px;
  }

  .job-inro-text,
  .redevelopment-block {
    width: 600px;
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  #homeHeader {
    height: 70VH;
  }

  #contentHeaderBlock {
    margin-top: 100px;
    width: 35%;
  }

  .worksContentTitle {
    margin-top: 100px;
  }

  .worksContentTitle p {
    font-size: 24px;
  }

  .worksContentTitle hr {
    width: 40%;
    margin: 0 auto;
  }

  .worksContentDesc {
    font-size: 0.9em;
  }

  .homeFootContentTitle {
    margin-top: 40px;
  }

  .job-inro-text,
  .redevelopment-block {
    width: 600px;
    text-align: center;
    margin: 0 auto;
  }
}

